{% extends "home/base.html" %}

{% block content %}

  <!-- Do no remove - Ensure dialogue not hidden by Header's Navbar -->
  <p class="col d-flex invisible" style="margin-bottom: 200px"> This Paragraph ensure the bottom of the conversation isn't hidden by the Footer.</p>
  <!-- Do no remove - Ensure dialogue not hidden by Header's Navbar -->

    <h1>Mentions Legales</h1>
    <ul>
        <li>
            Templates Credit
        </li>
        <li>
            Background Photo Credit
        </li>
        <li>
            Remy & Colette Photo Credit
        </li>
        <li>
            icon Carott credit
        </li>
        <li>
            <a href="">icon Awsome Fonts</a>
        </li>
        <li>
            Hebergement: Heroku
            Adresse: xxx
            Contacts: xxx
        </li>
        <li>
            Logo Pur Beurre: Open Classroom
        </li>
    </ul>
{% endblock content %}
