{% extends "home/base.html" %}
{% load static %}

{% block content %}
    <style type="text/css">
    .bgcol {
        background-color: #345A61;
    }
    </style>
    <!-- Do no remove - Ensure dialogue not hidden by Header's Navbar -->
    <p class="col d-flex invisible" style="margin-bottom: 200px"> This Paragraph ensure the bottom of the conversation isn't hidden by the Footer.</p>
    <!-- Do no remove - Ensure dialogue not hidden by Header's Navbar -->

    <div class="d-flex justify-content-center bgcol">
        <h1 class="text-white-50 m-4" >Votre produit n'a pas été trouvé. Veuillez rééssayer.</h1>
    </div>

    <div class="m-4">
        <div class="d-flex justify-content-center"><h2>Nouvelle Recherche</h2></div>
    <!-- Search a Product -->
        <div class="container-fluid d-flex justify-content-center p-2 mr-3" >
            <form class="form-inline" action="/snacks/search/" method="GET">
                <input type="text" name="search" class="form-control mb-2 mr-sm-2" placeholder="Produit à substituer" required="required" title="Produit à Substituer">
                <input type="submit" class="btn btn-secondary mb-2" value="chercher" title="Chercher">
            </form>
        </div>
    <!-- End Search bar -->
    </div>

{% endblock content %}
