{% extends "home/base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}
  <!-- Do no remove - Ensure dialogue not hidden by Header's Navbar -->
  <p class="col d-flex invisible" style="margin-bottom: 100px"> This Paragraph ensure the bottom of the conversation isn't hidden by the Footer.</p>
  <!-- Do no remove - Ensure dialogue not hidden by Header's Navbar -->

  <div class="d-flex justify-content-center">
    <!-- Search Content -->
    {% for result in results %}

        <div class="card m-3 col-2" style="width: 18rem; height: auto;">
            {% if result.nutriscore == 'a' %}
                <img class="card-img-top" src="{% static 'home/img/nutriscore-a.svg' %}" alt="Nutriscore A">
            {% elif result.nutriscore == 'b' %}
                <img class="card-img-top" src="{% static 'home/img/nutriscore-b.svg' %}" alt="Nutriscore B">
            {% elif result.nutriscore == 'c' %}
                <img class="card-img-top" src="{% static 'home/img/nutriscore-c.svg' %}" alt="Nutriscore C">
            {% elif result.nutriscore == 'd' %}
                <img class="card-img-top" src="{% static 'home/img/nutriscore-d.svg' %}" alt="Nutriscore D">
            {% elif result.nutriscore == 'e' %}
                <img class="card-img-top" src="{% static 'home/img/nutriscore-e.svg' %}" alt="Nutriscore E">
            {% else %}
                <img class="card-img-top" src="{% static 'home/img/nutriscore-u.png' %}" alt="Nutriscore Non Connue">
            {% endif %}
          <img class="card-img-top" src="{{ result.image.url }}" alt="Card image cap">
          <div class="card-body">
                <h5 class="card-title">{{ result.name }}</h5>
                <div class="d-flex">
                  <a href="product/{{ result.pk }}/" class="btn btn-primary m-1" title="Page Aliment {{ result.name }}" alt="Page Aliment {{ result.name }}">Page Aliment</a>
                  <a href="#" title="Ajouter à mes Aliments" alt="Ajouter à mes Aliments"><i class="far fa-save"></i></a>
                </div>
            </div>
          </div>

    {% endfor %}

    <!-- End Search Content -->
  </div>

    <!-- Pagination -->
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">Première</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Précédent</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Suivant</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Dernier</a>
      {% endif %}

    {% endif %}

  <!-- Do no remove - Ensure dialogue not hidden by Header's Navbar -->
  <p class="col d-flex invisible" style="margin-bottom: 200px"> This Paragraph ensure the bottom of the conversation isn't hidden by the Footer.</p>
  <!-- Do no remove - Ensure dialogue not hidden by Header's Navbar -->

{% endblock content %}
