{% extends "home/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

    {% if title=='search' %}
        <h1 class="mb-3"> Résultats de votre recherche ({{ page_obj.paginator.count }})</h1>
    {% if title=='favourites' %}
        <h1 class="mb-3"> Vos aliments favoris ({{ page_obj.paginator.count }})</h1>
    {% else %}
        <h1 class="mb-3"> Liste de produits ({{ page_obj.paginator.count }})</h1>
    {% endif %}

    <!-- Search Content -->
    {% if products_substitut|length_is:"0" %}
        <section class="container-fluid resultats">
          <div class="row text-center resultat-titre">
            <h2>Nous n'avons trouvé aucun résultat:</h2>
          </div>
        </section>

    {% else %}

        {% for card in cards %}

        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <i class="far fa-save"></i>

        {% endfor %}

    {% endif %}
    <!-- End Search Content -->

    <!-- Pagination -->
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">Première</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Précédent</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Suivant</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Dernier</a>
      {% endif %}

    {% endif %}

{% endblock content %}
