{% extends "home/base.html" %}
{% block content %}


  <main role="main" class="container">
    <div class="row">
      <div class="col-md-8">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }} ">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}

            <div  id="password" class="alert alert-info">
                Votre mot de passe a été envoyé.
            </div>
            <a href="{% url 'login' %}">Connectez vous ici</a>

      </div>
    </div>
  </main>

{% endblock content %}
