{% extends "home/base.html" %}


{% block content %}


  <main role="main" class="container">
    <div class="row">
      <div class="col-md-8">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }} ">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}

            <div id="password" class="alert alert-info" >
                Un email vous a été envoyé avec les instructions afin de changer votre mot de passe.
            </div>

      </div>
    </div>
  </main>

{% endblock content %}
